
*
    font-family: 微軟正黑體
    // border: 1px solid #000
    margin: 0
    padding: 0

header
    text-align: center
    height: 100vh
    background-image: url(../image/JKCF.jpg)
    background-size: cover
    div
        color: white
        h1
            font-size: 80px
            margin-top: 20%
        