
*
    font-family: 微軟正黑體
    // border: 1px solid #000
    margin: 0
    padding: 0
    position: relative

header
    text-align: center
    height: 100vh
    background-image: url(../image/JKCF.jpg)
    background-size: cover
    div
        color: white
        h1
            font-size: 80px
            margin-top: 30%
        
section#section_about
    .row
        height: 90vh
        .col-7
            background-image: url(../image/wood_flooring.jpg)
            background-size: cover
            padding: 0
            h1
                height: 500px
                width: 800px
                top: 200px
                float: right
                background-image: url(../image/cafe.jpg)
                background-size: cover
                background-position: center right
        .col-5
            background-image: url(../image/bogomil-mihaylov-643388-unsplash.jpg)
            background-size: cover
            padding: 0
            h1
                color: white
                height: 500px
                width: 600px
                top: 230px
                float: left
                background-image: url(../image/tim-mossholder-1129943-unsplash.jpg)
                background-size: cover
                background-position: center right
                p
                    font-size: 20px



section#section_branch
    div
        height: 90vh
